{% for object in chair_object %}

<article>
    <div> شماره صندلی: {{ object.number }}</div>
    <div>در دسترس بودن: {{ object.availability }}</div>
    
    <form action="{% url 'cinema:update_chair' object.pk %}" >
        {% csrf_token %}
        {% if object.availability %}
            <input type="submit" name="submit" value="رزور بلیط"  />
        {% else %}
            <input type="submit" name="submit" value="رزرو بلیط" disabled/>
        {% endif %}
    </form>
</article>

<hr>

{% empty %}
<div> Nothing to show </div>
{% endfor %}