{% extends 'cinema/base.html' %}


{% block title %} seats {% endblock %}


{% block main %}

    {% for object in chair_object %}

        <div class="card">
            <div class="card-header">
                {{ object.program.cinema_room }} - {{ object.program.movie }}
            </div>
            <div class="card-body">
                <h5 class="card-title"> seat number: {{ object.number }}</h5>
                <p class="card-text">availability: {{ object.availability }}</p>
                <form action="{% url 'cinema:update_chair' object.pk %}" >
                    {% if object.availability %}
                        <input class="btn btn-primary" type="submit" name="submit" value="Reservation"  />
                    {% else %}
                        <input class="btn btn-primary" type="submit" name="submit" value="Reservation" disabled/>
                    {% endif %}
                </form>
            </div>
        </div>

    {% empty %}
        <div> Nothing to show </div>
    {% endfor %}

{% endblock %}