{% load static %}
{% for object in program_object %}

<article>
    <div>نام سالن: {{ object.cinema_room }}</div>
    <div>نام فیلم: {{ object.movie }}</div>
    <div>وضعیت پخش: {{ object.status }}</div>
    <div> کارگردان: {{ object.movie.director }}</div>
    <div> مدت زمان فیلم: {{ object.movie.duration }}</div>
    <div>ساعت پخش: {{ object.show }}</div>
    <img src="http://127.0.0.1:8000/{{ object.movie.poster }}" width="100" height="100"/>
    <div>
        <a href="{% url 'cinema:chair' object.pk %}"> 
            رزرو بلیط
        </a>
    </div>
</article>
<hr>

{% empty %}
<div> Nothing to show </div>
{% endfor %}